# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env

# Editors / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Anaconda project cache
anaconda_projects/
